env/
**/__pycache__/
.idea
db.sqlite3
*.env
Free_Proxy_List.txt
pcwd/pcwd/.env
main2.py
scraper/products-en.csv
scraper/products-ar.csv
pcwd/media/product_images/*
pcwd/static/css
pcwd/static/js/main.js
pcwd/static/images/*
.DS_Store