<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favorites - Compare Smart Watches</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/mintcircle.ico' %}">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">

    <!-- Meta Tags for SEO -->
    <meta name="description" content="View your favorite smartwatches and easily compare them.">
    <meta name="keywords" content="favorites, smartwatches, compare smartwatches">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="Your Favorites - Compare Smart Watches">
    <meta property="og:description" content="View your favorite smartwatches and easily compare them.">
    <meta property="og:image" content="{% static 'images/pcwd-image-2.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Compare Smart Watches">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Favorites - Compare Smart Watches">
    <meta name="twitter:description" content="View your favorite smartwatches and easily compare them.">
    <meta name="twitter:image" content="{% static 'images/pcwd-image-2.png' %}">

</head>
<body>
    <header class="site-header">
        <nav class="menu">
            <a href="{% url 'feed:post-list-en' %}" title="Click to write a post">
                <img src="{% static 'images/mintcircle.png' %}" alt="Favicon" class="menu-favicon">
            </a>
            <a href="{% url 'home' %}" class="menu-item">Home</a>
            <a href="#" class="menu-item" data-modal="modal3">About</a>
            <a href="#" class="menu-item" data-modal="modal4">Contact</a>
            {% if user.is_authenticated %}
                <a href="#" class="menu-item" data-modal="modal-account">
                    <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile Picture" class="menu-profile-image">
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="menu-item">My Account</a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        <h1 style="font-size: 1.5em; text-align: center;">Your Favorite Smartwatches</h1>
        {% if not favorites %}
            <p>You have no favorite products yet.</p>
        {% else %}
            <div class="product-grid">
                {% for product in favorites %}
                    <div class="product-card" data-url="{{ product.image_url }}">
                        <div class="product-image">
                            <img src="{{ product.image.url }}" alt="{{ product.description }}">
                            <div class="product-info">
                                <p class="description">{{ product.description }}</p>
                                {% if product.price %}
                                    <p class="price">{{ product.price }} {{ product.currency }}</p>
                                {% endif %}

                                <!-- Star button for favorites -->
                                <form method="post" action="{% url 'user:remove-from-favorite-en' product.id %}">
                                    {% csrf_token %}
                                     <button type="submit" class="favorites-button" title="Remove from Favorites">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="red">
                                            <path d="M19.41 4.59a1 1 0 0 0-1.42 0L12 10.58 6.01 4.59A1 1 0 0 0 4.59 6.01L10.58 12 4.59 17.99a1 1 0 1 0 1.42 1.42L12 13.42l5.99 5.99a1 1 0 0 0 1.42-1.42L13.42 12l5.99-5.99a1 1 0 0 0 0-1.42z" stroke="red" stroke-width="2"/>
                                        </svg>
                                     </button>
                                </form>

                                <div class="button-container">
                                    <form method="get" action="{% url 'fetch-recommended-products-en' %}">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit" class="visit-store-button also-button also-en" title="Recommendations">Also</button>
                                    </form>
                                    <a class="visit-store-button store-en" href="{{ product.product_url }}" target="_blank">Store</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Additional Modals -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                Welcome to <span style="color: #014421; font-weight: bold;">fromsifr.com</span>!
            </p>
            <p>
                In this first version, we offer a wide selection of smartwatches from several websites. <br>
                Soon, we will be adding traditional watches and introducing new features...
            </p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                We’d Love Your Feedback!
            </p>
            <p>
                Do you have ideas or feature requests? <br>
                Would you like to see additional products
                or even a buying and selling feature? <br>
                We value your thoughts and want to hear from you! <br>
                Please drop us a line at <strong>medlao.contact@gmail.com</strong> <br> or take a moment to write a post sharing your feedback.
            </p>
            <p>
                Thank you for helping us improve!
            </p>
        </div>
    </div>

    <div id="modal-account" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-image">
            <p id="username">{{ user.username }}</p>
            <p class="email-address">{{ user.email }}</p>
            <ul class="provider-list">
                <li class="provider-item"><a href="{% url 'user:favorites-list-en' %}" class="provider-link">My Favorites</a></li>
                <li class="provider-item"><a href="{% url 'account_logout' %}" class="provider-link">Sign out</a></li>
                <li class="provider-item"><a href="{% url 'account_change_password' %}" class="provider-link">Change Password</a></li>
                <li class="provider-item"><a href="{% url 'account_email' %}" class="provider-link">Manage Emails</a></li>
            </ul>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
