{% load custom_filters %}
<div class="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li class="pagination-item">
                <a href="?{% if search_query %}q={{ search_query }}&{% endif %}{% if max_price %}max_price={{ max_price }}{% endif %}&page=1" class="pagination-link">&laquo; First</a>
            </li>
            <li class="pagination-item">
                <a href="?{% if search_query %}q={{ search_query }}&{% endif %}{% if max_price %}max_price={{ max_price }}{% endif %}&page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="pagination-item active">
                    <span class="pagination-link">{{ i }}</span>
                </li>
            {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                <li class="pagination-item">
                    <a href="?{% if search_query %}q={{ search_query }}&{% endif %}{% if max_price %}max_price={{ max_price }}{% endif %}&page={{ i }}" class="pagination-link">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="pagination-item">
                <a href="?{% if search_query %}q={{ search_query }}&{% endif %}{% if max_price %}max_price={{ max_price }}{% endif %}&page={{ page_obj.next_page_number }}" class="pagination-link">Next</a>
            </li>
            <li class="pagination-item">
                <a href="?{% if search_query %}q={{ search_query }}&{% endif %}{% if max_price %}max_price={{ max_price }}{% endif %}&page={{ paginator.num_pages }}" class="pagination-link">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
