<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قائمة المنتجات</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
<body class="noto-kufi-arabic">
    <header class="site-header">
        <nav class="menu menu-arabic">
            <a href="#" class="menu-item" data-modal="modal1">الصفحة الرئيسية</a>
            <a href="#" class="menu-item" data-modal="modal2">المنتجات</a>
            <a href="#" class="menu-item" data-modal="modal3">حول</a>
            <a href="#" class="menu-item" data-modal="modal4">اتصل</a>
        </nav>
    </header>
    <div class="container">
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card" data-url="{{ product.image_url }}">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.description }}">
                        <div class="product-info">
                            <p class="description">{{ product.description }}</p>
                            {% if product.price %}
                                <p class="price" dir="rtl">{{ product.currency }} {{ product.price }}</p>
                            {% endif %}
                            <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">المتجر</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
         {% include 'pagination_ar.html' %}
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>محتوى النموذج هنا</p>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
