<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قائمة المنتجات - مقارنة الساعات الذكية</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/mintcircle.ico' %}">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">

    <!-- Meta Tags for SEO -->
    <meta name="description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta name="keywords" content="قائمة المنتجات, الساعات الذكية, مقارنة الساعات الذكية, أفضل الأسعار, شراء الساعات الذكية">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="قائمة المنتجات - مقارنة الساعات الذكية">
    <meta property="og:description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta property="og:image" content="{% static 'images/pcwd-image-2.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="مقارنة الساعات الذكية">
    <meta property="og:locale" content="ar_AR">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="قائمة المنتجات - مقارنة الساعات الذكية">
    <meta name="twitter:description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta name="twitter:image" content="{% static 'images/pcwd-image-2.png' %}">

</head>
<body class="noto-kufi-arabic">
    <header class="site-header">
        <nav class="menu menu-arabic" style="direction: rtl;">
            <img src="{% static 'images/mintcircle.png' %}" alt="Favicon" class="menu-favicon">
            <a href="{% url 'home' %}" class="menu-item">الصفحة الرئيسية</a>
            <a href="#" class="menu-item" data-modal="modal2">البحث</a>
            <a href="#" class="menu-item" data-modal="modal3">حول</a>
            <a href="#" class="menu-item" data-modal="modal4">اتصل</a>
            <a href="{% url 'account_login' %}" class="menu-item">تسجيل الدخول</a>
            <a href="{% url 'account_signup' %}" class="menu-item">إنشاء حساب</a>
        </nav>
    </header>
    <div class="container">
        {% if not products %}
            <p dir="rtl">عذرًا، لم يتم العثور على منتجات لطلب البحث الخاص بك.</p>
        {% else %}
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card" data-url="{{ product.image_url }}">
                        <div class="product-image">
                            <img src="{{ product.image.url }}" alt="{{ product.description }}">
                            <div class="product-info">
                                <p class="description">{{ product.description }}</p>
                                {% if product.price %}
                                    <p class="price" dir="rtl">{{ product.currency }} {{ product.price }}</p>
                                {% endif %}
                                <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">المتجر</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'pagination_ar.html' %}
        {% endif %}
    </div>

    <!-- Modals -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="get" action="{% url 'product-list-ar' %}">
                <h3 class="modal-heading">منتجات معينة</h3>
                <input type="text" name="q" value="{{ search_query }}" placeholder="البحث عن المنتجات، العلامات التجارية، الألوان..." dir="rtl">
                <label for="priceRange">نطاق السعر</label>
                <input type="range" id="priceRange" name="max_price" min="0" max="{{ max_price_db }}" value="{{ max_price|default_if_none:max_price_db }}" oninput="updatePriceOutput(this.value)">
                <output for="priceRange" id="priceOutput">{{ max_price|default_if_none:max_price_db }}</output>
                <button type="submit">بحث</button>
            </form>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;" dir="rtl">
            مرحبًا بكم!
            </p>
            <p dir="rtl">
                في هذه النسخة الأولى، نقدم لكم مجموعة واسعة من الساعات الذكية من عدة مواقع. <br>
                قريبًا، سنضيف الساعات التقليدية وميزات جديدة...
            </p>

        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;" dir="rtl">
              نرحب بآرائكم واقتراحاتكم !
            </p>
            <p dir="rtl">
                هل لديكم أفكار أو اقتراحات لميزات جديدة أو ترغبون في مشاركة آرائكم ؟ <br>
                 راسلونا على <strong>address@contact.com</strong>
            </p>
            <p dir="rtl">
                شكرًا لكم !
            </p>

        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function updatePriceOutput(value) {
            document.getElementById('priceOutput').value = value;
        }
    </script>
</body>
</html>
