<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قائمة المنتجات - مقارنة الساعات الذكية</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/mintcircle.ico' %}">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">

    <!-- Meta Tags for SEO -->
    <meta name="description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta name="keywords" content="قائمة المنتجات, الساعات الذكية, مقارنة الساعات الذكية, أفضل الأسعار, شراء الساعات الذكية">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="قائمة المنتجات - مقارنة الساعات الذكية">
    <meta property="og:description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta property="og:image" content="{% static 'images/pcwd-image-2.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="مقارنة الساعات الذكية">
    <meta property="og:locale" content="ar_AR">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="قائمة المنتجات - مقارنة الساعات الذكية">
    <meta name="twitter:description" content="استعرض قائمة المنتجات وقارن بين أفضل الساعات الذكية المتوفرة. اعثر على الساعة الذكية المثالية لك.">
    <meta name="twitter:image" content="{% static 'images/pcwd-image-2.png' %}">

</head>
<body class="noto-kufi-arabic">
    <header class="site-header">
        <nav class="menu menu-arabic">
            <a href="{% url 'feed:post-list-ar' %}" title="انقر لكتابة منشور">
                <img src="{% static 'images/mintcircle.png' %}" alt="Favicon" class="menu-favicon">
            </a>
            <a href="{% url 'home' %}" class="menu-item">الصفحة الرئيسية</a>
            <a href="#" class="menu-item" data-modal="modal2">البحث</a>
            <a href="#" class="menu-item" data-modal="modal3">عن الموقع</a>
            <a href="#" class="menu-item" data-modal="modal4">اتصل بنا</a>
            {% if user.is_authenticated %}
                <a href="#" class="menu-item" data-modal="modal-account">
                    <img src="{{ user.profile.image.url }}" alt="{{ user.username }} صورة الملف الشخصي" class="menu-profile-image">
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="menu-item">حسابي</a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        {% if not products %}
            <p>عذرًا، لم يتم العثور على منتجات لطلب البحث الخاص بك.</p>
        {% else %}
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card" data-url="{{ product.image_url }}">
                        <div class="product-image">
                            <img src="{{ product.image.url }}" alt="{{ product.description }}">
                            <div class="product-info">
                                <p class="description">{{ product.description }}</p>
                                {% if product.price %}
                                    <p class="price">{{ product.price }} {{ product.currency }}</p>
                                {% endif %}
                                <!-- Star button for favorites -->
                                {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'user:add-to-favorite-ar' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="favorites-button" title="إضافة إلى المفضلة">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path d="M12 .587l3.668 7.568 8.332 1.203-6.002 5.838 1.415 8.23L12 18.896l-7.413 3.891 1.415-8.23-6.002-5.838 8.332-1.203z" fill="gold"/>
                                            </svg>
                                        </button>
                                    </form>
                                {% endif %}
                                <div class="button-container">
                                    <form method="get" action="{% url 'fetch-recommended-products-ar' %}">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit" class="visit-store-button also-button also-ar" title="توصيات">أيضًا</button>
                                    </form>
                                    <a class="visit-store-button store-ar" href="{{ product.product_url }}" target="_blank">المتجر</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'pagination_ar.html' %}
        {% endif %}
    </div>

    <!-- Additional Modals -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="get" action="{% url 'product-list-ar' %}" dir="rtl">
                <h3 class="modal-heading">منتجات معينة</h3>
                <p>تم ترتيب المنتجات بالفعل بترتيب تصاعدي.</p>
                <input type="text" name="q" value="{{ search_query }}" placeholder="البحث عن المنتجات، العلامات التجارية، الألوان..." dir="rtl">
                <label for="priceRange" style="display: block; text-align: right;">نطاق السعر</label>
                <input type="range" id="priceRange" name="max_price" min="0" max="{{ max_price_db }}" value="{{ max_price|default_if_none:max_price_db }}" oninput="updatePriceOutput(this.value)" dir="rtl">
                <output id="priceOutput" for="priceRange" dir="rtl">{{ max_price|default_if_none:max_price_db }} ج.م</output>
                <button type="submit">بحث</button>
            </form>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;" dir="rtl">
                مرحبًا بكم!
            </p>
            <p dir="rtl">
                في هذا الإصدار الأول، نقدم مجموعة واسعة من الساعات الذكية من عدة مواقع. <br>
                قريبًا، سنضيف الساعات التقليدية وميزات جديدة...
            </p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                نريد الحصول على ملاحظاتكم!
            </p>
            <p>
                هل لديكم أفكار أو طلبات ميزات؟ <br> هل ترغبون في رؤية منتجات إضافية أو حتى ميزات الشراء والبيع؟<br> نقدر آرائكم ونود سماعها! <br>
                 يرجى مراسلتنا على <strong>medlao.contact@gmail.com</strong><br> أو خذوا لحظة لكتابة منشور لمشاركة ملاحظاتكم.
            </p>
            <p>
                شكرًا لمساعدتكم في تحسين تجربتنا!
            </p>
        </div>
    </div>

    <div id="modal-account" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }} صورة الملف الشخصي" class="profile-image">
            <p id="username">{{ user.username }}</p>
            <p class="email-address">{{ user.email }}</p>
            <ul class="provider-list">
                <li class="provider-item"><a href="{% url 'user:favorites-list-ar' %}" class="provider-link">المفضلات الخاصة بي</a></li>
                <li class="provider-item"><a href="{% url 'account_logout' %}" class="provider-link">تسجيل الخروج</a></li>
                <li class="provider-item"><a href="{% url 'account_change_password' %}" class="provider-link">تغيير كلمة المرور</a></li>
                <li class="provider-item"><a href="{% url 'account_email' %}" class="provider-link">إدارة البريد الإلكتروني</a></li>
            </ul>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function updatePriceOutput(value) {
            document.getElementById('priceOutput').value = value;
        }
    </script>
</body>
</html>
