<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/temp.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
<body>
    <header class="site-header">
        <nav class="menu">
            <a href="{% url 'home' %}" class="menu-item">Home</a>
            <a href="#" class="menu-item" data-modal="modal2">Search</a>
            <a href="#" class="menu-item" data-modal="modal3">About</a>
            <a href="#" class="menu-item" data-modal="modal4">Contact</a>
        </nav>
    </header>
    <div class="container">
        {% if not products %}
            <p>Sorry, no products found for your search query.</p>
        {% else %}
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card" data-url="{{ product.image_url }}">
                        <div class="product-image">
                            <img src="{{ product.image.url }}" alt="{{ product.description }}">
                            <div class="product-info">
                                <p class="description">{{ product.description }}</p>
                                {% if product.price %}
                                    <p class="price" dir="ltr">{{ product.price }} {{ product.currency }}</p>
                                {% endif %}
                                <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">Store</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'pagination_en.html' %}
        {% endif %}
    </div>

    <!-- Modals -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="get" action="{% url 'product-list-en' %}">
                <h3>Specific products</h3>
                <input type="text" name="q" value="{{ search_query }}" placeholder="Search for products, brands, colors...">
                <label for="priceRange">Price range</label>
                <input type="range" id="priceRange" name="max_price" min="0" max="{{ max_price_db }}" value="{{ max_price|default_if_none:max_price_db }}" oninput="updatePriceOutput(this.value)">
                <output for="priceRange" id="priceOutput">{{ max_price|default_if_none:max_price_db }} </output>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                Welcome to our Watch Price Comparison Website!
            </p>
            <p>
                In this first version, we offer a wide selection of smartwatches from several websites. <br>
                Soon, we will be adding traditional watches and introducing new features...
            </p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                We'd Love Your Feedback!
            </p>
            <p>
                Got ideas, feature requests, or just want to share your thoughts? <br>
                Drop us a line at <strong>address@contact.com</strong>
            </p>
            <p>
                Thank you !
            </p>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function updatePriceOutput(value) {
            document.getElementById('priceOutput').value = value;
        }
    </script>
</body>
</html>
