<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List - Compare Smart Watches</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/mintcircle.ico' %}">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">

    <!-- Meta Tags for SEO -->
    <meta name="description" content="Browse the product list and compare the best smartwatches available. Find the perfect smartwatch for you.">
    <meta name="keywords" content="product list, smartwatches, compare smartwatches, best prices, buy smartwatches">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="Product List - Compare Smart Watches">
    <meta property="og:description" content="Browse the product list and compare the best smartwatches available. Find the perfect smartwatch for you.">
    <meta property="og:image" content="{% static 'images/pcwd-image-2.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Compare Smart Watches">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Product List - Compare Smart Watches">
    <meta name="twitter:description" content="Browse the product list and compare the best smartwatches available. Find the perfect smartwatch for you.">
    <meta name="twitter:image" content="{% static 'images/pcwd-image-2.png' %}">

</head>
<body>
    <header class="site-header">
    <nav class="menu">
        <img src="{% static 'images/mintcircle.png' %}" alt="Favicon" class="menu-favicon">
        <a href="{% url 'home' %}" class="menu-item">Home</a>
        <a href="#" class="menu-item" data-modal="modal2">Search</a>
        <a href="#" class="menu-item" data-modal="modal3">About</a>
        <a href="#" class="menu-item" data-modal="modal4">Contact</a>
        {% if user.is_authenticated %}
            <a href="#" class="menu-item" data-modal="modal-account">My Account</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="menu-item">My Account</a>
        {% endif %}
    </nav>
</header>

    <div class="container">
        {% if not products %}
            <p>Sorry, no products found for your search query.</p>
        {% else %}
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card" data-url="{{ product.image_url }}">
                        <div class="product-image">
                            <img src="{{ product.image.url }}" alt="{{ product.description }}">
                            <div class="product-info">
                                <p class="description">{{ product.description }}</p>
                                {% if product.price %}
                                    <p class="price">{{ product.price }} {{ product.currency }}</p>
                                {% endif %}
                                <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">Store</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'pagination_en.html' %}
        {% endif %}
    </div>

    <!-- Modals -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="get" action="{% url 'product-list-en' %}">
                <h3>Specific products</h3>
                <input type="text" name="q" value="{{ search_query }}" placeholder="Search for products, brands, colors...">
                <label for="priceRange">Price range</label>
                <input type="range" id="priceRange" name="max_price" min="0" max="{{ max_price_db }}" value="{{ max_price|default_if_none:max_price_db }}" oninput="updatePriceOutput(this.value)">
                <output for="priceRange" id="priceOutput">{{ max_price|default_if_none:max_price_db }} </output>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                Welcome!
            </p>
            <p>
                In this first version, we offer a wide selection of smartwatches from several websites. <br>
                Soon, we will be adding traditional watches and introducing new features...
            </p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                We'd Love Your Feedback!
            </p>
            <p>
                Got ideas, feature requests, or just want to share your thoughts? <br>
                Drop us a line at <strong>address@contact.com</strong>
            </p>
            <p>
                Thank you!
            </p>
        </div>
    </div>

    <div id="modal-account" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
            <p>Welcome, {{ user.username }}!</p>
            <ul class="provider-list"> <!-- Apply provider-list class -->
                <li class="provider-item"><a href="{% url 'account_logout' %}" class="provider-link">Sign out</a></li>
                <li class="provider-item"><a href="{% url 'account_change_password' %}" class="provider-link">Change Password</a></li>
                <li class="provider-item"><a href="{% url 'account_email' %}" class="provider-link">Manage Emails</a></li>
            </ul>
        </div>
    </div>


    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function updatePriceOutput(value) {
            document.getElementById('priceOutput').value = value;
        }
    </script>
</body>
</html>
