<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header">
        <nav class="menu">
            <a href="#" class="menu-item">Home</a>
            <a href="#" class="menu-item">Products</a>
            <a href="#" class="menu-item">About</a>
            <a href="#" class="menu-item">Contact</a>
        </nav>
    </header>
    <div class="container">
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card" data-url="{{ product.image_url }}">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.description }}">
                        <div class="product-info">
                            <p>{{ product.description }}</p>
                            <p>{{ product.currency }} {{ product.price }} </p>
                            <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">Store</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
