<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Products</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/mintcircle.ico' %}">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
<body>

    <header class="site-header">
        <nav class="menu">
            <img src="{% static 'images/mintcircle.png' %}" alt="Favicon" class="menu-favicon">
            <a href="{% url 'home' %}" class="menu-item">Home</a>
            <a href="#" class="menu-item" data-modal="modal3">About</a>
            <a href="#" class="menu-item" data-modal="modal4">Contact</a>
            {% if user.is_authenticated %}
                <a href="#" class="menu-item" data-modal="modal-account">
                    <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile Picture" class="menu-profile-image">
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="menu-item">My Account</a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        <h1 style="font-size: 1.5em; text-align: center;">Recommended Products</h1>
        <div class="product-grid" style="margin-bottom: 30px;  margin-top: 20px;">
            {% for product in recommended_products %}
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.description }}">
                        <div class="product-info">
                            <p class="description">{{ product.description }}</p>
                            {% if product.price %}
                                <p class="price">{{ product.price }} {{ product.currency }}</p>
                            {% endif %}
                            <!-- Star button for favorites -->
                            <form method="post" action="{% url 'user:add-to-favorite-en' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="favorites-button" title="Add to Favorites">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M12 .587l3.668 7.568 8.332 1.203-6.002 5.838 1.415 8.23L12 18.896l-7.413 3.891 1.415-8.23-6.002-5.838 8.332-1.203z" fill="gold"/>
                                    </svg>
                                </button>
                            </form>
                            <a class="visit-store-button store-en" href="{{ product.product_url }}" target="_blank">Store</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                Welcome!
            </p>
            <p>
                In this first version, we offer a wide selection of smartwatches from several websites. <br>
                Soon, we will be adding traditional watches and introducing new features...
            </p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="margin-top: 50px;">
                We'd Love Your Feedback!
            </p>
            <p>
                Got ideas, feature requests, or just want to share your thoughts? <br>
                Drop us a line at <strong>address@contact.com</strong>
            </p>
            <p>
                Thank you!
            </p>
        </div>
    </div>

    <div id="modal-account" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-image">
            <p id="username">{{ user.username }}</p>
            <p class="email-address">{{ user.email }}</p>
            <ul class="provider-list">
                <li class="provider-item"><a href="{% url 'user:favorites-list-en' %}" class="provider-link">My Favorites</a></li>
                <li class="provider-item"><a href="{% url 'account_logout' %}" class="provider-link">Sign out</a></li>
                <li class="provider-item"><a href="{% url 'account_change_password' %}" class="provider-link">Change Password</a></li>
                <li class="provider-item"><a href="{% url 'account_email' %}" class="provider-link">Manage Emails</a></li>
            </ul>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
