<!DOCTYPE html>
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المنتجات الموصى بها</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>المنتجات الموصى بها</h1>
        <div class="product-grid">
            {% for product in recommended_products %}
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.description }}">
                        <div class="product-info">
                            <p class="description">{{ product.description }}</p>
                            {% if product.price %}
                                <p class="price">{{ product.price }} {{ product.currency }}</p>
                            {% endif %}
                            <a class="visit-store-button" href="{{ product.product_url }}" target="_blank">المتجر</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
